
#feed-media-icon {
  background-image: url('21x21logo.png');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 21px;
  height: 21px;
  display: block;
  padding: 26px 13px 0 0;
}

#feed-status {
  margin-bottom: 8px;
}

